.dashboard_main{
    height: 100%;
    padding: 100px;
}

.upload_section{
    display: block;
    width: calc(100% - px);
    min-height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}


.video_section{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.video_details{
    text-align: start;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.result_image{
    width: 100%;
    height: auto;
    min-height: 320px;
}