.dashboard_main { 
    min-height: 100vh; /* If desired for full viewport  */
    padding: 10px;   
    padding-top: 90px; /* Make this slightly greater than navbar height */
}


 .upload_section {
    border-radius: 10px;
    border: solid 5px lightblue;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
 }
 
 
 .video_section {
    display: flex; /* Keep using flexbox */
    justify-content: center;
    padding: 10px;
 }

.video_details{
    text-align: start;
    padding: 10px;
    display: block;
    justify-content: start;
    align-items: start;
}

.result_image {
    width: 100%;
    height: auto;
    min-height: 320px;
 }